/* TODO Add site wide styles */

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation */
.profile-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 100px;
    margin-top: 400px;
    margin-left: 70px;
    margin-right: 80px;
    background-color: whitesmoke;
    font-size: 15px;
}

.b {
    background-color: #D32422;
    color: white;
    border: none;
    border-radius: 10px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style: none;
}

.nav-ul {
    list-style: none;
}

#beaches-button {
    margin-top: 30px;
}


.demo-button {
    background-color: white;
    border: none;
    width: 50px;
    height: ;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: inline;
    position: absolute;
    margin-left: 70%;
    width: 300px;
}

/* #beaches-button {

} */

#sign-up-button {
    border: white solid 3px;
    background-color: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-left: 35%;
}

/* Login Page */

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    padding-top: 50px;
    overflow-x: hidden;

}

#login-vector {
    border-radius: 50%;
}

#login-header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.demo-login-l {
    width: 500px;
}

#demo-button-l {
    z-index: 1;
    width: 500px;
    position: absolute;
    background-color: rgba(214, 214, 214, 0.499);
    margin-top: 40px;
    margin-left: 100px;
    height: 30px;
    width: 300px;
    border-radius: 4px;
    border: none;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: 40px;
}
#login-button {
    background-color: #D32422;
    color: white;
    height: 30px;
    border-radius: 2px;
    border: none
}

.login-right{
    width: 600px;
    height: 400px;
}

#login-h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.login-input{
    margin: 10px;
    width: 300px;
}

.login-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 400px;
}

/* homepage */
.hp-home-page-container {
    margin-top: 100px;
    box-sizing: border-box;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.hp-background-image-behind-search-bar {
    position: absolute;
    top: 0px;
    margin-top: 0px;
    height: 700px;
    width: 100vw;
    background-color: rgb(119, 187, 233);
    z-index: -5;
    flex-shrink: 1;

}

.hp-banner-image {
    height: 100%;
    width: 100%;
    opacity: 0.58;
    flex-shrink: 1;
}

.hp-navigation-bar {
    justify-content: center;
    align-items: flex-end;
    color: white;
    z-index: 1;
}

.hp-red-heading {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    color: #D32422;
    /* border: rgb(202, 202, 202) solid 4px; */
    margin-top: 60%;
}

.hp-kelp-logo-b {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 140px;
    margin-bottom: 0%;
    z-index: -3;
    width: 200px;
    margin-right: 80%;
}

/* for banner */
.hp-kelp-logo-b {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 140px;
    margin-bottom: 0%;
    z-index: 4;
    position: absolute;
    margin-top: 0px;
    height: 100px;
    width: 100px;
    margin-left: 50px;
}

.hp-kelp-link-b {
    text-decoration: none;
    color: black;
    font-size: 50px;
}
.kelp-logo-b {
    height: 50px;
    width: 50px;
}

.hp-kelp-link-c {
    text-decoration: none;
    color: black;
    font-size: 50px;
    font-weight: bolder;
    margin-left: 20px;
    margin-top: 50px;
}
.kelp-logo-c {
    height: 50px;
    width: 50px;
}


.hp-kelp-link-homepage {
    text-decoration: none;
    color: black;
    font-size: 50px;
    font-weight: bolder;
}
.kelp-logo {
    height: 100px;
    width: 100px;
}

.hp-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 37px;
    width: 810px;
    /* border: black solid 4px; */
    background-color: white;
    color: rgb(139, 126, 126);
    opacity: 0.50;
    text-align: center;
    font-size: 1.25rem;
    margin-top: 5%;
    z-index: -4;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;

}


/* userProfile buttons */

.up-edit-button{
    cursor: pointer;
    margin-right: 20px;
    border-radius: 5px;
    font-style: italic;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    box-shadow: rgb(213 217 217 / 50%) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}



.up-delete-button{
    cursor: pointer;
    margin-left: 30px;
    border-radius: 5px;
    font-style: italic;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    box-shadow: rgb(213 217 217 / 50%) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

/* user profile - review list*/
.profile-container {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;


}


.up-review-container {
    border: black solid 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}


/* create new review form */

.crf-new-review-form-container {
    box-sizing: border-box;
    height: 450px;
    margin-top: 200px;
}

.crf-id {
    color: plum;
}

.crf-review-input {
    margin-left: 30px;
    background-color: white;
    width: 500px;
    height: 250px;
    border: solid 1px rgb(200, 200, 200);
    border-radius: 5px;
}

.crf-beach-name {
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.crf-post-review-button {
    margin-top: 30px;
    background-color: #E00A05;
    width: 200px;
    height: 40px;
    color: white;
    border-radius: 5px;
    border: none;
    margin-left: 30px;

}

/* Beach List */
.beach-list-h {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 0;
    border: black solid 3px;
    background-color: whitesmoke;
    z-index: 3;
    width: 100%;
    height: 100px;
    position: fixed;
}

#demo-button-message-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: pink;
    width: 350px;
    height: 100px;
    margin-left: 70%;

}

#demo-message {
    color: #D32422;
    font-weight: bolder;
    font-size: 20px;
}

#logout-button {
    background-color: #D32422;
    color: white;
    font-weight: bold;
    width: 140px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
}

.bl-container-div {
    display: grid;
    grid-template-columns: 2fr, 1fr;
    gap: 0%;
    grid-template-rows: 30% 70%;
    height: 200px;
}

.beach-pic-container {
    height: 150px;
    width: 150px;
    grid-column: 1;
    grid-row: 1/2
}
.beachPic {
    margin-top: 40px;
    margin-left: 10px;
    height: 100%;
    width: 100%;
}

.bl-big-container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 100px;
}

.bl-each-beach-li {
    border: rgba(206, 200, 200, 0.758) solid 1px;
    font-family: Arial, Helvetica, sans-serif;
    width: 70vw;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 3px;
    background-color: #fcfcfc;

}
.bl-a-tag {
    text-decoration: none;
    color: black;
    font-weight: bold;
    grid-column: 2;
    /* border: black solid 1px; */
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 50px;
    width: 800px;
    font-size: 25px;

}

.bl-p-tag {
    font-size: 20px;
    color:rgb(51, 51, 51);
    grid-column: 2;
    margin-left: 30px;
}

.bl-all-results {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: px;
}


/* Show One Beach */

.ob-img-container {
    height: 400px;
    width: 100vw;
    filter: brightness(55%);
    margin-top: 90px;

}

.ob-img {
    height: 100%;
    width: 100%;
}

.ob-container {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.ob-a {
    font-size: 15px;
}
.ob-h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 250px;
    left: 45px;
    margin-top: 100px;
    font-size: 45px;
}

.ob-address {
    position: relative;
    font-display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(199, 199, 199) solid 1px;
    font-weight: bold;
    color: rgb(150, 150, 150);
    height: 100px;
    width: 200px;
    margin-right: 10px;
    margin-right: 50px;
    padding-left: 30px;
    border-radius: 5px;
}

.below-banner {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
.address {
    color: #027a97;
}

.ob-review-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background-color: rgb(202, 7, 7);
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 0px;
}

.ob-description {
    font-size: smaller;
    color:rgba(255, 255, 255, 0.083);
    display: none;
}

/* One-Review */

.review-container {
    /* border: #0f1111 solid 2px; */
    margin: 20px;;
}

.ob-icon-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-icon-review {
    height: 50px;
    width: 50px;
    margin: 15px;
}

.review-answer {
    /* border: black solid 1px; */
    width: 90%;
    height: 40%;
    margin-left: 20px;
    margin-top: 10px;
}

.ob-delete-review-button {
    position: absolute;
    background-color: white;
    border: #00000041 solid 1px;
    border-radius: 4px;;
    color: grey;
    margin-left: 90%;


    /* margin-left: 95%;
    margin-top: 10%; */
}


/* Add a new beach */

.ab-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: pink solid 2px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 200px;
}

.ab-add-new-beach {
    margin: 15px;
}

.ab-add-new-beach {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.ab-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D32422;
    color: white;
    height: 30px;
}



/* review list */
.rl-container {
    background-color: purple;
}


/* ratings */

.rating-box {
    margin-left: 30px;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}

input[type="radio"]{
    display:none;
}

/* red banner */

#login-header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: #D32422;
    height: 100px;
    width: 100%;
    overflow-x: hidden;
    z-index: 2;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    width: 200px;
}

#white-log-login {
    height: 10px;
    width: 10px;
}

#login-kelp {
    background-color: #D32422;
    color: white;
    /* height: 80px;
    margin-top: 50px;
    padding: 0px; */
    font-family: Arial, Helvetica, sans-serif;
}


/* sign up page  */

.signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.demo-login-s {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin-top: 10px;
}


.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;

}

.connect {
    margin-top: 10px;
    margin-bottom: 30px;
}
.s-input {
    margin: 10px;
    width: 300px;
}

#signup-button {
    width: 300px;
    background-color: #D32422;
    height: 100px;
    color: white;
    border-radius: 4px;
    border: none;
}

#demo-button {
    width: 300px;
    border: none;
    height: 35px;
}

#text {
    color:#D32422
}


/* demo nav on beach list */
.demo-logout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: #D32422;
    color: white;
    text-align: none;
    text-decoration: none;
    height: 30px;
    border-radius: 4px;

}
.message {
    color: #D32422;
    font-weight: bolder;
}

.demo-navigation {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    left: 0px;
    height: 120px;
    width: 100%;
    background-color: whitesmoke;
    z-index: 5;

}

.nav-kelp-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 200px;
}

/* .nav-kelp-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 700px;
} */


#demo-kelp-nav-link{
    color: black;
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#logo-header {
    height: 50px;
    width: 50px;
}

.nav-kelp-left-container{
    width: 200px;
}

.nav-kelp-right-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 450px;
}

#apples{

}

.profile-button{
    color: green
}

#prof-button {
    background-color: whitesmoke;
    border: none;
}

.demo-navigation2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top:0;
    left: 0;
    height: 100px;
    width: 100%;
}

#message-white {
    color: white;
    font-weight: bolder;
}

.demo-logout2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 3px;
    color: white;
    font-weight: bolder;
    width: 100px;
    height: 30px;
    border-radius: 4px;
}

.nav-kelp-right-container2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    margin-left: 500px;
}

.nav-container {
    /* background-color: purple; */
    width: 100px;
}

#post-a-beach {
    background-color: #D32422;
    color: white;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    margin: 30px;
}

.none-session-container {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: purple; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#right-div-non-u {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    /* background-color: green; */
    height: 50px;
    width: 270px;
    margin: 10px;
}

#orange0{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    margin-right: 200px;
}

#orange1 {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

#orange2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    border: white solid 2px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
}

.none-session-container-k {
    position: fixed;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-left: */
    z-index: 6;

}


.left-div-non-u-k {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 200px;
    /* margin-right: 400px; */
}

.nav-kelp-left-container0{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 650px;
}

#log-1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-decoration: none;
    border: rgb(0, 0, 0) solid 2px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
}

#up-2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    border: white solid 2px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #D32422;
}
